<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IPAddress" value="127.0.0.1"/>
		<add key="Port" value="4723"/>
		<add key="PlatfromType" value="MerakiApiAutomation.Settings.AndroidDriverWrapper"/>
		<add key="AppName" value="app-debug.apk" />
		<add key="PlatformName" value="Android" />
		<add key="DeviceName" value="Android 29" />
	</appSettings>
</configuration>